/* Classes */
 
.Paragrafo {
    background-color: #000;
    color: yellow;
    padding: 5px;
}
 
#titulo-com-id {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 40px;
}
 
h1{
    border-bottom: 2px solid blue;
}
 
#id-titulo{
border-bottom: 3px solid black;
}
 
.class-titulo{
border-bottom: 3px solid red;
}